#contact{
    background: rgb(0, 0, 0);
    height: 73.5vh;
}

.contact-container{
    display: flex;
    background: #000000;
    padding-top: 30px;

}

.contact-image{
    width: 800px;
    height: 500px; 
    margin-left: 55px;
}

.contact-image img{
    height: 100%;
    display: block;
    object-fit: fill;
    object-position: center;
    width: 100%;
}

.form-container{
    /* padding: 1rem; */
    width: 30%;
    /* border: 2px solid red; */
    margin: auto;
    /* background: rgb(243, 243, 243); */
}

.form-container input{
    display: block;
    width: 100%;
    /* margin-bottom: 2rem;
    outline: 2px solid red; */
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem 0;
    box-shadow: none;
    outline: none;
   margin-bottom: 1rem;
   color: #090808;
   font-weight: 500;
}

.form-container textarea{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem 0;
}


.form-container h2{
    font-size: 3rem;
    font-weight: 400;
    color: #ffffff;
    /* text-align: center; */
    margin-bottom: 1rem;
}

.form-container a{
    font-size: 1.2rem;
}