#food{
    padding: 5rem 5rem 10rem 0;
}
#food h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #117964;

}

.food-container{
    display: flex;
    justify-content: space-between;
}
.food-container img{
    display: block;
    width: 100%;
    max-width: 370px;
    margin: auto;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.img-container{
    position: relative;
    margin: 0 1rem;
}
.img-content{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    opacity: 0;
    z-index: 2;
    transition: all 0.3s ease-in-out 0.1s;
    text-align: center;
}
.img-content h3{
    color: #fff;
    font-size: 3rem;

}
.img-content a{
    font-weight: 500;
    font-size: 1.2rem;
    
}
.img-container::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.871);
    opacity: 0;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;  
}

.img-container:hover::after{
    
    opacity: 1;
    transform:  scaleY(1);
}
.img-container:hover .img-content{
    opacity: 1;
    top: 40%;
}

/* ######################## menu styling #############################  */
.food-menu-heading{
    font-size: 4rem;
    text-align: center;
    font-weight: 400;
    color: #ffffff;
}

.food-menu-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0 30px 0;
}

.food-menu-container img{
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.food-menu-item{
    flex: 1 1 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-bottom: 3rem;
    
}
.food-description{
    margin: auto 1.5rem;
}
.food-title{
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444;
}
.food-description p{
    font-size:  1.4rem;
    color: #555;
    font-weight: 500;
}
.food-description .food-price{
    color: #117964;
    font-weight: 700;
}
